.root:hover {
    transform: rotateY(180deg);
}
.wave{
    background:#FFFFFF;
    height: 50px;
    position: relative;
    margin: 0;
    padding: 0em;
  }
  .wave::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image:
      radial-gradient(circle at 10px -5px, transparent 12px,#00A8E8 13px);
  }
  @font-face {
    font-family: 'Quicksand', sans-serif;
    src: local('Quicksand') url('../fonts/Quicksand-Light.ttf')
  }